// Hero Section
.hero-section {
    width: 100%;
    height: 100vh;
    background: url("../../media/vols.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;

    .main-container {
        background-color: rgba(42, 40, 40, 0.37);
        padding-inline: 4em;
    }

    .hero-desc {
        text-align: left;

        & h1 {
            font-size: 1.4em;
        }

        & p {
            margin-left: 1em;
            max-width: 450px;
        }
    }

    .hero-form {
        background-color: #f4cda588;

        @media (min-width:1200px) {
            position: relative;

            & .nav-pills {
                position: absolute;
                top: -12%;

            }
        }

        & .nav-item .nav-link {
            border-radius: 0px !important;
            width: 150px;
        }

        input {
            background: transparent;
            border: 0px;
            outline-width: 0px;
            border-bottom: 2px solid black;
            color: white;
        }

        input::placeholder {
            color: rgb(255, 255, 255);
        }


    }
}

// About Section
.about-section {
    .about-text {
        text-align: center;
        padding: 0 35px;

        p {
            color: #595960;
            font-weight: 500;

            &.f-para {
                margin-bottom: 10px;
            }

            &.s-para {
                margin-bottom: 35px;
            }
        }

        .about-btn {
            color: #19191a;
        }
    }

    .about-pic {
        width: 100%;
        height: 100%;
        position: relative;

        img {
            width: inherit;
            margin-inline: auto;
            height: inherit;
        }

        .float-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
        }
    }

}



.services-section {
    padding-bottom: 60px;
    border-top: 1px solid #e5e5e5;

    .section-title {
        margin-bottom: 36px;
    }

    .service-item {
        text-align: center;
        padding: 30px 35px 18px;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        cursor: default;

        i {
            display: inline-block;
            color: #dfa974;
            -webkit-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;
        }

        h4 {
            color: #19191a;
            font-size: 22px;
            margin-bottom: 15px;
            margin-top: 10px;
            -webkit-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;
        }

        p {
            color: #707079;
            -webkit-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;
        }


        &:hover {
            background: #dfa974;

            i,
            h4,
            p {
                color: #ffffff;
            }
        }
    }
}





